{%- style -%}
  .header {
    display: none;
  }
  .footer {
    display: none;
  }
{%- endstyle -%}


<div class="snap-mandatory snap-y h-screen w-screen overflow-scroll">
          <!-- SLIDE 1 -->
          <div class="snap-start flex justify-center items-end h-full relative overflow-hidden">
            <video autoplay muted loop class="absolute top-0 left-0 right-0 -z-10">
              <source src="https://cdn.shopify.com/videos/c/o/v/c17b46f6082d4d2188c737c23095b3ee.mp4" type="video/mp4" class="">
            </video>
            <a href="" class="text-white text-center text-l bg-black p-4 mb-8 rounded-lg w-96 drop-shadow-md">Shop Now →</a>
          </div>
          <!-- SLIDE 2 -->
          <div class="snap-start flex justify-center items-end h-full relative overflow-hidden">
            <video autoplay muted loop class="absolute top-0 left-0 right-0 -z-10">
              <source src="https://cdn.shopify.com/videos/c/o/v/9b1b9727ee764de680f39817c5a29766.mp4" type="video/mp4" class="">
            </video>
            <a href="" class="text-white text-center text-l bg-black p-4 mb-8 rounded-lg w-96 drop-shadow-md">Shop Now →</a>
  
          </div>
       
</div>



{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
